@model ToppingsClass[]
@{
    ViewData["Title"] = "Home Page";
}
<br />
<h3>All Order Topping List (pizzas.json)</h3>
<br />
@foreach(var Topping in Model)
{
     <hr />
    foreach (var Topping1 in Topping.toppings)
    {
      <p>@Topping1</p>
    }
    <hr />
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
